@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.navbar {
  padding: 30px;
  display: relative;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 4px solid #f2f2f2;
  background-color: #8c8b9f;
}

.navbar h1 {
  color: #00000f;
}

.margin .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-weight: bold;
  float: right;
  background-color: #8c8b9f;
  color: black;
}

.navbar a:hover {
  background-color: black;
  color: white;
}
